{
  "env": {
      "browser": true,
      "es2021": true
  },
  "extends": [
      "plugin:react/recommended"
  ],
  "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
  },
  "plugins": [
      "react"
  ],
  "rules": {
    "react/prop-types": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/button-has-type": "off",
    "no-console": "off",
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-props-no-spreading": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-param-reassign": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "camelcase": "off",
    "no-nested-ternary": "off",
    "react/require-default-props": "off"
  }
}
